*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
src/local.properties
src/.idea/gradle.xml
src/.idea/codeStyles/Project.xml
src/.idea/caches/gradle_models.ser
src/.idea/caches/build_file_checksums.ser
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/runConfigurations.xml
src/.idea/vcs.xml
src/.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/gradle.xml
.idea/workspace.xml___jb_tmp___
audio/.cxx/cmake/release/x86_64/json_generation_record.json
audio/.cxx/cmake/release/x86_64/rules.ninja
audio/.cxx/cmake/release/x86_64/compile_commands.json
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
audio/.cxx/cmake/debug/arm64-v8a/.ninja_deps
audio/.cxx/cmake/debug/arm64-v8a/.ninja_log
audio/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
audio/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
audio/.cxx/cmake/debug/arm64-v8a/android_gradle_build_targets.command.txt
audio/.cxx/cmake/debug/arm64-v8a/android_gradle_build_targets.stderr.txt
audio/.cxx/cmake/debug/arm64-v8a/android_gradle_build_targets.stdout.txt
audio/.cxx/cmake/debug/arm64-v8a/build.ninja
audio/.cxx/cmake/debug/arm64-v8a/build_command.txt
audio/.cxx/cmake/debug/arm64-v8a/build_model.json
audio/.cxx/cmake/debug/arm64-v8a/build_output.txt
audio/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
audio/.cxx/cmake/debug/arm64-v8a/cmake_server_log.txt
audio/.cxx/cmake/debug/arm64-v8a/CMakeCache.txt
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/audio-engine-jni.dir/audioengine/src/AudioBuffer.cpp.o
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/audio-engine-jni.dir/audioengine/src/AudioEngine.cpp.o
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/audio-engine-jni.dir/audioengine/src/AudioManager.cpp.o
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/audio-engine-jni.dir/audioengine/src/AudioPlayer.cpp.o
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/audio-engine-jni.dir/audioengine/src/AudioQueue.cpp.o
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/audio-engine-jni.dir/audioengine/src/JNIMapping.cpp.o
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/audio-engine-jni.dir/audioengine/src/OutputMixer.cpp.o
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/audio-engine-jni.dir/audioengine/src/Resource.cpp.o
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/cmake.check_cache
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/CMakeOutput.log
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.bin
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.c
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.cxx
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/test-lib.dir/test/JNIFunc.cpp.o
audio/.cxx/cmake/debug/arm64-v8a/CMakeFiles/test-lib.dir/test/TestJNI.cpp.o
audio/.cxx/cmake/debug/arm64-v8a/compile_commands.json
audio/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
audio/.cxx/cmake/debug/arm64-v8a/prefab_config.json
audio/.cxx/cmake/debug/arm64-v8a/rules.ninja
audio/.cxx/cmake/debug/armeabi-v7a/.ninja_deps
audio/.cxx/cmake/debug/armeabi-v7a/.ninja_log
audio/.cxx/cmake/debug/armeabi-v7a/android_gradle_build.json
audio/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
audio/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_targets.command.txt
audio/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_targets.stderr.txt
audio/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_targets.stdout.txt
audio/.cxx/cmake/debug/armeabi-v7a/build.ninja
*.o
*.bin
audio/.cxx/cmake/debug/armeabi-v7a/build_command.txt
audio/.cxx/cmake/debug/armeabi-v7a/build_model.json
audio/.cxx/cmake/debug/armeabi-v7a/build_output.txt
audio/.cxx/cmake/debug/armeabi-v7a/cmake_install.cmake
audio/.cxx/cmake/debug/armeabi-v7a/cmake_server_log.txt
audio/.cxx/cmake/debug/armeabi-v7a/CMakeCache.txt
audio/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
audio/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
audio/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
audio/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/cmake.check_cache
audio/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/CMakeOutput.log
audio/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.c
audio/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.cxx
audio/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/TargetDirectories.txt
audio/.cxx/cmake/debug/armeabi-v7a/compile_commands.json
audio/.cxx/cmake/debug/armeabi-v7a/json_generation_record.json
audio/.cxx/cmake/debug/armeabi-v7a/prefab_config.json
audio/.cxx/cmake/debug/armeabi-v7a/rules.ninja
audio/.cxx/cmake/debug/x86/.ninja_deps
audio/.cxx/cmake/debug/x86/.ninja_log
audio/.cxx/cmake/debug/x86/android_gradle_build.json
audio/.cxx/cmake/debug/x86/android_gradle_build_mini.json
audio/.cxx/cmake/debug/x86/android_gradle_build_targets.command.txt
audio/.cxx/cmake/debug/x86/android_gradle_build_targets.stderr.txt
audio/.cxx/cmake/debug/x86/android_gradle_build_targets.stdout.txt
audio/.cxx/cmake/debug/x86/build.ninja
audio/.cxx/cmake/debug/x86/build_command.txt
audio/.cxx/cmake/debug/x86/build_model.json
audio/.cxx/cmake/debug/x86/build_output.txt
audio/.cxx/cmake/debug/x86/cmake_install.cmake
audio/.cxx/cmake/debug/x86/cmake_server_log.txt
audio/.cxx/cmake/debug/x86/CMakeCache.txt
audio/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeCCompiler.cmake
audio/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
audio/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeSystem.cmake
audio/.cxx/cmake/debug/x86/CMakeFiles/cmake.check_cache
audio/.cxx/cmake/debug/x86/CMakeFiles/CMakeOutput.log
audio/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.cxx
audio/.cxx/cmake/debug/x86/json_generation_record.json
audio/.cxx/cmake/debug/x86/CMakeFiles/feature_tests.c
audio/.cxx/cmake/debug/x86/CMakeFiles/TargetDirectories.txt
audio/.cxx/cmake/debug/x86/compile_commands.json
audio/.cxx/cmake/debug/x86/prefab_config.json
audio/.cxx/cmake/debug/x86/rules.ninja
audio/.cxx/cmake/debug/x86_64/.ninja_deps
audio/.cxx/cmake/debug/x86_64/.ninja_log
audio/.cxx/cmake/debug/x86_64/android_gradle_build.json
audio/.cxx/cmake/debug/x86_64/android_gradle_build_mini.json
audio/.cxx/cmake/debug/x86_64/android_gradle_build_targets.command.txt
audio/.cxx/cmake/debug/x86_64/android_gradle_build_targets.stderr.txt
audio/.cxx/cmake/debug/x86_64/android_gradle_build_targets.stdout.txt
audio/.cxx/cmake/debug/x86_64/build.ninja
audio/.cxx/cmake/debug/x86_64/build_command.txt
audio/.cxx/cmake/debug/x86_64/build_output.txt
audio/.cxx/cmake/debug/x86_64/build_model.json
audio/.cxx/cmake/debug/x86_64/cmake_install.cmake
audio/.cxx/cmake/debug/x86_64/cmake_server_log.txt
audio/.cxx/cmake/debug/x86_64/CMakeCache.txt
audio/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeCCompiler.cmake
audio/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
audio/.cxx/cmake/debug/x86_64/CMakeFiles/3.10.2/CMakeSystem.cmake
audio/.cxx/cmake/debug/x86_64/CMakeFiles/cmake.check_cache
audio/.cxx/cmake/debug/x86_64/CMakeFiles/CMakeOutput.log
audio/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.c
audio/.cxx/cmake/debug/x86_64/CMakeFiles/feature_tests.cxx
audio/.cxx/cmake/debug/x86_64/CMakeFiles/TargetDirectories.txt
audio/.cxx/cmake/debug/x86_64/json_generation_record.json
audio/.cxx/cmake/debug/x86_64/compile_commands.json
audio/.cxx/cmake/debug/x86_64/prefab_config.json
audio/.cxx/cmake/debug/x86_64/rules.ninja
audio/.cxx/cmake/release/arm64-v8a/android_gradle_build.json
audio/.cxx/cmake/release/arm64-v8a/android_gradle_build_mini.json
audio/.cxx/cmake/release/arm64-v8a/build.ninja
audio/.cxx/cmake/release/arm64-v8a/build_command.txt
audio/.cxx/cmake/release/arm64-v8a/build_model.json
audio/.cxx/cmake/release/arm64-v8a/build_output.txt
audio/.cxx/cmake/release/arm64-v8a/cmake_install.cmake
audio/.cxx/cmake/release/arm64-v8a/cmake_server_log.txt
audio/.cxx/cmake/release/arm64-v8a/CMakeCache.txt
audio/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
audio/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
audio/.cxx/cmake/release/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
audio/.cxx/cmake/release/arm64-v8a/CMakeFiles/cmake.check_cache
audio/.cxx/cmake/release/arm64-v8a/CMakeFiles/CMakeOutput.log
audio/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.c
audio/.cxx/cmake/release/arm64-v8a/CMakeFiles/feature_tests.cxx
audio/.cxx/cmake/release/arm64-v8a/CMakeFiles/TargetDirectories.txt
audio/.cxx/cmake/release/arm64-v8a/compile_commands.json
audio/.cxx/cmake/release/arm64-v8a/json_generation_record.json
audio/.cxx/cmake/release/arm64-v8a/prefab_config.json
audio/.cxx/cmake/release/arm64-v8a/rules.ninja
audio/.cxx/cmake/release/armeabi-v7a/android_gradle_build.json
audio/.cxx/cmake/release/armeabi-v7a/android_gradle_build_mini.json
audio/.cxx/cmake/release/armeabi-v7a/build.ninja
audio/.cxx/cmake/release/armeabi-v7a/build_command.txt
audio/.cxx/cmake/release/armeabi-v7a/build_model.json
audio/.cxx/cmake/release/armeabi-v7a/build_output.txt
audio/.cxx/cmake/release/armeabi-v7a/cmake_install.cmake
audio/.cxx/cmake/release/armeabi-v7a/cmake_server_log.txt
audio/.cxx/cmake/release/armeabi-v7a/CMakeCache.txt
audio/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
audio/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
audio/.cxx/cmake/release/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
audio/.cxx/cmake/release/armeabi-v7a/CMakeFiles/cmake.check_cache
audio/.cxx/cmake/release/armeabi-v7a/CMakeFiles/CMakeOutput.log
audio/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.c
audio/.cxx/cmake/release/armeabi-v7a/CMakeFiles/feature_tests.cxx
audio/.cxx/cmake/release/armeabi-v7a/CMakeFiles/TargetDirectories.txt
audio/.cxx/cmake/release/armeabi-v7a/compile_commands.json
audio/.cxx/cmake/release/armeabi-v7a/json_generation_record.json
audio/.cxx/cmake/release/armeabi-v7a/prefab_config.json
audio/.cxx/cmake/release/armeabi-v7a/rules.ninja
audio/.cxx/cmake/release/x86/android_gradle_build.json
audio/.cxx/cmake/release/x86/android_gradle_build_mini.json
audio/.cxx/cmake/release/x86/build.ninja
audio/.cxx/cmake/release/x86/build_command.txt
audio/.cxx/cmake/release/x86/build_model.json
audio/.cxx/cmake/release/x86/build_output.txt
audio/.cxx/cmake/release/x86/cmake_install.cmake
audio/.cxx/cmake/release/x86/cmake_server_log.txt
audio/.cxx/cmake/release/x86/CMakeCache.txt
audio/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeCCompiler.cmake
audio/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
audio/.cxx/cmake/release/x86/CMakeFiles/3.10.2/CMakeSystem.cmake
audio/.cxx/cmake/release/x86/CMakeFiles/cmake.check_cache
audio/.cxx/cmake/release/x86/CMakeFiles/CMakeOutput.log
audio/.cxx/cmake/release/x86/CMakeFiles/feature_tests.c
audio/.cxx/cmake/release/x86/CMakeFiles/feature_tests.cxx
audio/.cxx/cmake/release/x86/CMakeFiles/TargetDirectories.txt
audio/.cxx/cmake/release/x86/compile_commands.json
audio/.cxx/cmake/release/x86/json_generation_record.json
audio/.cxx/cmake/release/x86/prefab_config.json
audio/.cxx/cmake/release/x86/rules.ninja
audio/.cxx/cmake/release/x86_64/android_gradle_build.json
audio/.cxx/cmake/release/x86_64/android_gradle_build_mini.json
audio/.cxx/cmake/release/x86_64/build.ninja
audio/.cxx/cmake/release/x86_64/build_command.txt
audio/.cxx/cmake/release/x86_64/build_model.json
audio/.cxx/cmake/release/x86_64/build_output.txt
audio/.cxx/cmake/release/x86_64/cmake_install.cmake
audio/.cxx/cmake/release/x86_64/cmake_server_log.txt
audio/.cxx/cmake/release/x86_64/CMakeCache.txt
audio/.cxx/cmake/release/x86_64/CMakeFiles/3.10.2/CMakeCCompiler.cmake
audio/.cxx/cmake/release/x86_64/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
audio/.cxx/cmake/release/x86_64/CMakeFiles/3.10.2/CMakeSystem.cmake
audio/.cxx/cmake/release/x86_64/CMakeFiles/cmake.check_cache
audio/.cxx/cmake/release/x86_64/CMakeFiles/CMakeOutput.log
audio/.cxx/cmake/release/x86_64/CMakeFiles/feature_tests.c
audio/.cxx/cmake/release/x86_64/CMakeFiles/feature_tests.cxx
audio/.cxx/cmake/release/x86_64/CMakeFiles/TargetDirectories.txt
audio/.cxx/cmake/release/x86_64/prefab_config.json
